.btn {
  @include fontM;
  display: inline-block;
  width: 245px;
  background: $green-2;
  border: 2px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;

  &--default {
    height: 54px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 17px 0;
    text-align: center;
    color: #ffffff;

    &:hover {
      background: #FFFFFF;
      border: 2px solid $green-2;
      color: $green-2;
    }
  }
}
