.decore-section {
  position: absolute;
  bottom: -5px;
  right: 0;
  overflow-y: hidden;

  svg {
    width: 144.44px;
    height: 21.76px;
    padding-left: 1px;

    @include md {
      width: 258.69px;
      height: 38.96px;
      padding-left: 2px;
    }

    @include lg {
      width: 580px;
      height: 87.36px;
      padding-left: 4px;
    }
  }
}
