.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  &-bg {
    position: absolute;
    background: rgba(52, 52, 52, 0.5);
    width: 100%;
    height: 100%;
  }

  &-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    position: relative;
    padding: 22px 61px;

    @include lg {
      max-width: 1277px;
      max-height: 90vh;
      overflow-y: hidden;
    }
  }

  .only-mobile {
    display: block;
    @include lg {
      display: none;
    }
  }
  .only-desk {
    display: none;
    @include lg {
      display: block;
    }
  }

  .modal-content__grid {
    display: grid;
    align-items: stretch;
    justify-items: center;

    .book-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      grid-row: 2;
      
      &__text {
        overflow-y: hidden;
        max-height: calc(90vh - 200px);
      }

      @include lg {
        grid-row: 1;
      }
    }

    .slider-current-book {
      grid-row: 1;
      display: flex;
      align-items: center;
      max-width: 658px;

      img {
        margin: 0 auto;
        max-height: calc(90vh - 40px);
      }
    }

    @include lg {
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
    }
  }

  &-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    cursor: pointer;

    svg {
      width: 15px;
      height: 15px;

      @include md {
        width: 26px;
        height: 26px;
      }
    }
  }
}