.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  &-bg {
    position: absolute;
    background: rgba(52, 52, 52, 0.5);
    width: 100%;
    height: 100%;
  }

  &-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 5px;
    text-align: center;

    @include lg {
      text-align: left;
      padding: 22px 61px;
      padding-right: 8px;
      max-width: 90vw;
      max-height: 90vh;
      overflow-y: auto;
    }
  }

  .only-mobile {
    display: block;
    @include rwd(1200) {
      display: none;
    }
  }
  .only-desk {
    display: none;
    @include rwd(1200) {
      display: block;
    }
  }

  .modal-content__grid {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    
    @include rwd(1200) {
      height: 100%;
      flex-direction: row;
    }

    .book-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      .text-preview {
        margin-bottom: 20px;
        padding: 0 10px;
      }

      @include rwd(1200) {
        width: 50%;

        .text-preview {
          max-height: 63vh;
          overflow-y: auto;
          margin-bottom: auto;
        }
      }
    }

    .current-book-slider-wrapper {
       @include rwd(1200) {
        min-width: 43vw;
       }
    }

    .slider-current-book {
      display: flex;
      align-items: center;
      max-width: 300px;
      margin-bottom: 25px;
      margin-left: auto;
      margin-right: auto;

      @include md {
        max-width: 629px;
      }

      @include lg {
        max-width: 658px;
      }

      @include rwd(1200) {
        height: 100%;
        margin-bottom: 0;
      }

      .modal-slider__prev,
      .modal-slider__next {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        cursor: pointer;
        margin: 0 10px;

        transition: background-color 0.3s;
        border: 2px solid #2aa090;

        @include md {
          display: flex;
          min-width: 33px;
          min-height: 33px;
        }

        @include lg {
          min-width: 39px;
          min-height: 39px;
        }

        svg {
          width: 24px;
          height: 18px;

          path {
            stroke: #2aa090;
          }

          path {
            fill: #ffffff;
          }
        }
      }

      .modal-slider__next {
        svg {
          transform: rotate(180deg);
        }
      }

      img {
        margin: 0 auto;
        max-height: calc(90vh - 40px);
      }
    }

    .slick-dots {
      bottom: -16px;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        width: fit-content;
        height: fit-content;
        padding: 2px;
        border-radius: 50%;
        border: 2px solid $green-2;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          background-color: $green-2;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          padding: 0;
        }

        &.slick-active button {
          background-color: $green-4;
        }
      }
    }
  }

  .buy-book-link {
    background: $white;
  }

  &-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    cursor: pointer;

    svg {
      @include md {
        width: 26px;
        height: 26px;
      }
    }
  }
}