#wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  width: 300px;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 46px;

  li {
    margin-right: 6px;
  }

  .centerSlide {
    margin: 0 auto;
  }

  button, a.pagination--slick-dot {
    font-family: 'Century Gothic';
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;

    transition: background-color 0.3s;
    border: 2px solid #FFFFFF;
    @include mr(6px);

    @include lg {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .pagination-dots {
    .slick-dots {
      position: static;
      display: flex;

      li {
        width: auto;
        height: auto;
        display: block;
        position: static;
        margin: 0;
        margin-right: 6px;
      }
    }
  }

  .slick-current .pagination--slick-dot {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    color: #2AA090;
  }

  & button:hover:not(.active), & a:hover:not(.active) {
    color: #2AA090;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  
  &__next, &__prev {
    svg {
      width: 24px;
      height: 18px;
    
      & path {
        fill: #FFFFFF;
      }
    }

    &:hover {
      svg path {
        stroke: #2AA090;
      }
    }
  }

  &__next {
    svg {
      transform: rotate(180deg);
    }
  }

}