#wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
  margin-bottom: 46px;

  .slick-list {
    margin: 0 -3px;
  }

  .slick-slide > div {
    padding: 0 3px;
  }

  @include md {
    .slick-list {
      margin: 0 -4px;
    }
  
    .slick-slide > div {
      padding: 0 4px;
    }
  }

  .pagination__next,
  .pagination__prev {
    svg {
      width: 24px;
      height: 18px;

      & path {
        fill: #ffffff;
      }
    }

    &:hover {
      svg path {
        stroke: #2aa090;
      }
    }
  }

  .pagination__next {
    svg {
      transform: rotate(180deg);
    }
  }

  .pagination {
    width: 210px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 6px;
    
    @include md {
      width: 300px;
    }
  }

  li {
    margin-right: 6px;
  }

  .centerSlide {
    margin: 0 auto;
  }

  button,
  .pagination--slick-dot,
  .pagination__next,
  .pagination__prev {
    font-family: "Century Gothic";
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;

    transition: background-color 0.3s;
    border: 2px solid #ffffff;
    @include mr(6px);

    @include md {
      width: 39px;
      height: 39px;
    }

    @include lg {
      font-size: 24px;
      line-height: 29px;
    }
  }

  & button:hover:not(.active),
  & a:hover:not(.active) {
    color: #2aa090;
    border-color: #ffffff;
    background-color: #ffffff;
  }

  .pagination-dots {
    .slick-dots {
      position: static;
      display: flex;

      li {
        width: auto;
        height: auto;
        display: block;
        position: static;
        margin: 0;
        margin-right: 6px;
      }
    }
  }

  .slick-current .pagination--slick-dot {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #2aa090;
  }
}
