.section-title {
  $this: &;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 5px;
  color: #127B6D;

  @include md {
    padding-bottom: 8px;
    margin-bottom: 28px;
  }
  
  @include lg {
    padding-bottom: 12px;
  }

  &::after {
    content: '';
    display: block;
    background-color: #127B6D;
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  &--white {
    color: $white;
    &::after {
      background-color: $white;
    }
  }
}