<div class="modal" id="modal-one">
  <div class="modal-bg modal-exit"></div>
  <div class="modal-container">
    <h2 class="only-mobile section-title section-title centered">
      Книжная полка
    </h2>
    <div class="modal-content__grid">
      <div class="book-content">
        <h2 class="only-desk section-title section-title centered">
          Книжная полка
        </h2>

        <div class="text-preview">

        </div>

        <a id="currentBookLink" href="#" target="_blank" class="btn btn--transparent">КУПИТЬ КНИГУ</a>
      </div>

      <div class="current-book-slider-wrapper">
        <div id="currentBookSlider" class="slider-current-book">

        </div>
      </div>
    </div>
    <button class="btn-reset modal-close modal-exit"> @@include('../../assets/closer.svg')</button>
  </div>
</div>