<div class="modal" id="modal-one">
  <div class="modal-bg modal-exit"></div>
  <div class="modal-container">
    <div class="modal-content__grid">
      <div class="text">
        <p>
          Сказки Заманулья – книга, написанная за период полного погружения в профессию «на чужбине». Во время работы
          педиатром на всех, даже самых лютых фронтах педиатрии, с каждым днем я узнавала о детях и о семьях что-то
          новое и меня это вдохновляло. Приходя домой после суточного дежурства, я брала свой ноут бук и творила. Первая
          сказка – «Соколиное перышко», была написана после вечеринки у одного из местных графов. Очень уж меня поразило
          выросшее из тумана графство, как и пронзительные крики соколов, кружащих над амбарами. На следующий день туман
          не исчез и появилась сказка о графской дочке, которой суждено было разгадать загадку этого тумана. Вторая
          сказка – «Откуда берутся звезды» о славном юноше, пожелавшем постичь великое мастерство изготовления звезд.
          Своего он добился и в итоге пожертвовал самое дорогое, что у него было – свою звезду, девушке, которую любил.
          Конечно, все закончилось хорошо. Завершающая сборник сказка – Заманулье – она раскрывает тайну манулов,
          которые на самом дели в совершенстве владеют современными технологиями и решили спасти мир от экологической
          катастрофы.
        </p>
      </div>
      <div class="slider">
        <img src="../../assets/img/slide-img.jpg" alt="slide">
      </div>
      <h2>Сказки Заманулья</h2>
    </div>
    <button class="btn-reset modal-close modal-exit"> @@include('../../assets/closer.svg')</button>
  </div>
</div>