<div class="book-card">
  <div class="book-card__face">
    <img src="../assets/img/book-face-1.jpg" alt="book face">
    <span class="status status--inprogres">В работе</span>
  </div>

  <div class="text">
    <h3 class="text__title">Свет, свет, свет</h3>
    <p class="text__subtitle">
      Заманулье – это место, где живут  манулов. Манулы – самые любопытные и редкие коты в мире. Еще они красивые. О заманулье написана сказка, смешная и в тоже время серьезная. Эта история и задала тон всему литературноу миру, который я создаю.  
    </p>
  </div>

  <div class="book-card__thumbnail-wrap">
    <div class="thumbnail">
      <img src="../assets/img/book-thunb-02.jpg" alt="Book name page">
    </div>
    <div class="thumbnail">
      <img src="../assets/img/book-thunb-02.jpg" alt="Book name page">
    </div>
    <div class="thumbnail">
      <img src="../assets/img/book-thunb-02.jpg" alt="Book name page">
    </div>
    <div class="thumbnail">
      <img src="../assets/img/book-thunb-02.jpg" alt="Book name page">
    </div>
  </div>
</div>
