<div class="book-card">
  <div class="book-card__face">
    <a data-modal="modal-one"><img src="@@image" alt="book face"></a>
    <span class="status status--inprogres">В работе</span>
  </div>

  <div class="text">
    <h3 class="text__title">@@title</h3>
    <div class="text__subtitle">
      <p> Заманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это
        местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это
        местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это
        местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это
        местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это
        местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это
        местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это
        местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это
        местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это местоЗаманулье – это место
      </p>
    </div>
  </div>

  <div class="book-card__thumbnail-wrap">
    <div class="thumbnail">
      <img src="../../assets/img/photo.jpg" alt="Book name page">
    </div>
    <div class="thumbnail">
      <img src="../../assets/img/photo.jpg" alt="Book name page">
    </div>
    <div class="thumbnail">
      <img src="../../assets/img/photo.jpg" alt="Book name page">
    </div>
    <div class="thumbnail">
      <img src="../../assets/img/photo.jpg" alt="Book name page">
    </div>
  </div>
</div>