<footer id="anchor6" class="footer">
  <div class="container">
    <div class="content-wrapper">
      <div class="footer__logo">
        @@include('../../assets/logo.svg')
        @@include('../../assets/logo-name.svg')
      </div>

      <ul class="footer__social list-reset" title="">
        <li class="social__item"><a href="#" target="_blank" class="social__link social__link--is" aria-label="Наша страничка в Instagram">
          @@include('../../assets/inst.svg')
        </a></li>
        <li class="social__item"><a href="#" target="_blank" class="social__link social__link--dzen" aria-label="Наша страничка в Yandex.Zen">
          @@include('../../assets/dzen.svg')
        </a></li>
        <li class="social__item"><a href="#" target="_blank" class="social__link social__link--vk" aria-label="Наша страничка во Вконтакте">
          @@include('../../assets/vk.svg')
        </a></li>
        <li class="social__item"><a href="#" target="_blank" class="social__link social__link--ok" aria-label="Наша страничка в Twitter">
          @@include('../../assets/ok.svg')
        </a></li>
      </ul>
    </div>
    <div class="copyright">
      <p class="dezigner">design by demidovichart</p>
      <p class="">© 2022 Заманулье. Все права защищены</p>
    </div>
  </div>
</footer>