.music {
  position: relative;
  padding: 21px 0 45px;

  @include md {
    padding-bottom: 93px;
  }

  @include lg {
    padding-bottom: 68px;
  }

  &__title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;

    &::after {
      content: '';
      display: block;
      background-color: $black;
      position: absolute;
      height: 3px;
      width: 100%;
      bottom: 0;
      left: 0;
    }

    @include md {
      margin-bottom: 30px;
      padding-bottom: 8px;
    }
    @include lg {
      padding-bottom: 12px;
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    display: inline-block;
    margin-bottom: 8px;

    @include md {
      margin-bottom: 45px;
    }
    @include lg {
      margin-bottom: 100px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 11px;
    margin-bottom: 24px;
    
    img {
      height: 188px;
      justify-self: center;
    }
    
    @include md {
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
      margin-bottom: 40px;

      img {
        height: 216px;
      }
    }
    @include lg {
      column-gap: 47px;
      img {
        height: 475px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    width: 245px;
    height: 54px;

    background: #060606;
    border: 2px solid #e24d02;
    border-radius: 10px;
  }
}
